.content{
  font-size 14px;
}

blockquote{
    font-size: .8rem !important;
    color #8c968f !important;
    border-left: 0.5rem solid #bce3ca !important;
}
code{
      background-color: rgba(229, 174, 19, 0.15) !important;
}
pre>code{
  background-color: #282c34 !important;
}
.sidebar>.sidebar-links>li>a.sidebar-link {
    font-size: 0.8em;
    line-height: 1.7;
    font-weight: 700;
}

