.content{
  font-size 14px;
}

blockquote{
    font-size: .8rem !important;
    color #8c968f !important;
    border-left: 0.5rem solid #bce3ca !important;
}
code{
      padding: 0.0rem 0.1rem !important;
      background-color: rgba(229, 174, 19, 0.15) !important;

}
pre>code{
  background-color: #282c34 !important;
}
.sidebar>.sidebar-links>li>a.sidebar-link {
    font-size: 0.8em;
    line-height: 1.7;
    font-weight: 700;
}

.theme-default-content pre, .theme-default-content pre[class*="language-"] {
    // line-height: 1.4;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
}

